@import '../variables.css';

.page--list {
  display: flex;
  min-width: 792px;
}

.page--list__details,
.page--list__feed {
  position: relative;
  flex: 1;
}

.page--list__feed iframe {
  opacity: 0;
  animation: fadeIn 400ms ease-out forwards;
  animation-delay: 500ms;
}

.page--list__scrollable {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}
