@import '../variables.css';

.station-list {
  width: 50%;
}

.station-list__items {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  padding-right: 1rem;
  overflow: auto;
}

.station-list__item {
  border-bottom: 1px solid #f1f1f1;
}

.station-list__item__link {
  display: block;
  padding: $spacing-common .5rem;
}
