@import '../variables.css';

.page--station {
  display: flex;
}

.page--station__details,
.page--station__feed {
  position: relative;
  flex: 1;
}

.page--station__feed iframe {
  opacity: 0;
  animation: fadeIn 400ms ease-out forwards;
  animation-delay: 500ms;
}
