@import 'variables.css';
@import 'animations.css';

.app {
  background: $white;
  padding: $spacing-common;
  margin-top: 6px;
  min-height: calc(100vh - 6px);
}

.app__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: linear-gradient(to right, $green, $blue, $green, $blue, $green, $blue);
  box-shadow: 0 1px 15px 0px rgba(0, 0, 0, .4);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

  }

  &::before {
    animation: animateAppHeader 3000ms ease-out infinite;
    background: linear-gradient(to right, $blue, $green, $blue, $green, $blue, $green);
  }
}

.app__logo {
  position: fixed;
  width: 180px;
  height: 200px;
  padding: 4px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    animation: animateAppLogoBackground 450ms $ease-out-back 250ms forwards;
  }

  &__inner {
    position: absolute;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: 1;
    animation: animateAppLogoInner 200ms ease-out 750ms forwards;
  }

  &__primary,
  &__secondary {
    opacity: 0;
    animation: animateAppLogo 500ms $ease-out-back 1000ms forwards;
  }

  &__primary {
    font-size: 3rem;
    background: linear-gradient(to right, $blue, $green, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__secondary {
    font-size: 1.275rem;
  }
}

.app__container {
  margin-left: calc(180px + $spacing-common);

  &--with-open-player {
    padding-bottom: 5rem;
  }
}
