@import 'normalize.min.css';
@import 'variables.css';
@import 'helpers.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $black;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.btn-reset {
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}
