@import 'variables.css';

/* Appearance */
.color-white {
  color: $white;
}

.color-blue-grey {
  color: $blue-grey;
}

/* Links */
.link-light {
  a&, > a {
    display: inline-block;
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $blue;
    transition: border 250ms ease-out;

    &:hover {
      border-bottom: 2px solid $purple;
    }

    &:active {
      transform: translateX(1px) translateY(1px);
    }
  }
}

/* Display */
.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

/* Fonts */
.font-primary {
  font-family: 'PT Sans', sans-serif;
}

.font-tertiary {
  font-family: 'flood-std', sans-serif;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-18 {
  font-size: 18px;
}

.font-style-italic {
  font-style: italic;
}

/* Text */
.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Spacing */
.p-1__5 {
  padding: 1.5rem;
}

.m-l-0__3 {
  margin-left: .3rem;
}

.m-l-0__8 {
  margin-left: .8rem;
}

.m-l-1 {
  margin-left: 1rem;
}

.m-l-1__5 {
  margin-left: 1.5rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.m-r-1__5 {
  margin-right: 1.5rem;
}

.m-r-1__2 {
  margin-right: 1.2rem;
}

.m-r-3 {
  margin-right: 3rem;
}

.m-t-0__5 {
  margin-top: .5rem;
}
