@import 'variables.css';

.player {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: black;
  transition: transform 250ms $ease-out-back,
              box-shadow 250ms ease-out;
  transform: translate3d(0, 100px, 0);

  &--open {
    transform: translate3d(0, 20px, 0);
    box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, .4);
  }
}

.player__inner {
  height: 80px;
  padding: .8rem $spacing-common;
}

.player__controls {
  width: 50px;
  height: 50px;
}

.player__controls__play-state {
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to bottom, $red, $purple);
  transition: width 150ms ease-out,
              height 150ms ease-out;

  &:active {
    width: 95%;
    height: 95%;
  }

  svg {
    width: 60%;
    height: 60%;
    transform: translate3d(0, 0, 0);
    transition: filter 250ms ease-out,
                width 150ms ease-out,
                height 150ms ease-out;
  }

  &:hover svg {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
    width: 68%;
    height: 68%;
  }

  &:active svg {
    filter: none;
    width: 58%;
    height: 58%;
  }
}

.player__info {
  width: 200px;
}
