@import 'variables.css';

.station-list__items {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.station-list__item {
  background: #f1f1f1;
}

.station-list__item__link {
  display: block;
  padding: $spacing-common;
  text-decoration: none;

  &:active {
    transform: translateX(1px) translateY(1px);
  }

  &:hover {
    background: #f7f7f7;
  }
}

.station-list__item__logo {
  width: 70px;
  border-radius: 5px;
}

.station-list__item__name {
  display: inline-block;
  color: $black;
  text-decoration: none;
  border-bottom: 2px solid $blue;
  transition: border 250ms ease-out;

  .station-list__item__link:hover & {
    border-bottom: 2px solid $purple;
  }
}
