$white: #fff;
$black: #000;
$blue: #27a2c0;
$green: #0cbba1;
$red: #bb4e86;
$purple: #a84ebb;
$purple--dark: #440e58;
$blue-grey: #7a8b8f;
$blue-grey--border: #a3b8bd;

$spacing-common: 1.5rem;

$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
